#content {
  margin: 100px auto 20px auto;
  border: 10px solid #4c4c4c;
  width: 500px;
  height: 273px;
  position: relative;
}

#content img {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  text-align: center;
}

#links {
  width: 420px;
  display: flex;
  margin: auto;
}
#links a {
  display: block;
  flex: 1;
  text-decoration: none;
  text-transform: uppercase;
}
.image {
  width: 500px;
}
